<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>crudmvc</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Loginservlet</display-name>
    <servlet-name>Loginservlet</servlet-name>
    <servlet-class>com.loginservlet.Loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginservlet</servlet-name>
    <url-pattern>/Loginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logpa</display-name>
    <servlet-name>Logpa</servlet-name>
    <servlet-class>com.loginservlet.Logpa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logpa</servlet-name>
    <url-pattern>/Logpa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logda</display-name>
    <servlet-name>Logda</servlet-name>
    <servlet-class>com.datadao.Logda</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logda</servlet-name>
    <url-pattern>/Logda</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Showdata</display-name>
    <servlet-name>Showdata</servlet-name>
    <servlet-class>com.loginservlet.Showdata</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Showdata</servlet-name>
    <url-pattern>/Showdata</url-pattern>
  </servlet-mapping>
</web-app>